<section class="heroproducts">
  <div class="container hero-grid">
    <div class="heroproducts-content">
      <h1>NOS DIFFÉRENTS PRODUITS</h1>
      <h4>Des batteries fiables, dimensionnées pour vos réalités.</h4>
    </div>
  </div>
</section>


  <!-- Hero Section -->
<!-- Section "Découvrez notre nouvelle gamme" -->
<section id="showing">
  <div class="showing-text">
    <ul class="keywords">
      <li>Fiable</li>
      <li>Puissante</li>
      <li>Durable</li>
      <li>Innovante</li>
    </ul>
    <h2>Découvrez notre nouvelle gamme de batteries</h2>
    <p>
      Nos batteries lithium allient performance, fiabilité et longue durée de vie.
      Compactes et sécurisées, elles s’adaptent à de nombreuses applications,
      du domestique à l’industriel, tout en offrant un rendement optimal.
    </p>
    <div class="buttons">
      <a href="#products" class="btn">Nos produits</a>
      <a hx-get="fragments/contact.html" hx-target="#main-content" hx-swap="innerHTML" class="btn">Contactez-nous</a>
    </div>
  </div>
  <div class="showing-image">
    <img src="../media/nosproduits.png" alt="Batterie">
  </div>
</section>

<!-- Section "Ils nous font confiance" -->
<section class="trusted">
  <div class="trusted-left">
    <h3>Ils nous font confiance</h3>
  </div>
  <div class="trusted-right">
    <a href="https://ecobatts.tech" target="_blank">
      <img src="../media/ecobatts.png" alt="Ecobatts">
    </a>
    <a href="https://oceantrade.mg/" target="_blank">
      <img src="../media/oceantrade.png" alt="Ocean Trade">
    </a>
    <a href="https://www.sqvision.mg/en_GB" target="_blank">
      <img src="../media/sqvision.png" alt="SQ Vision">
    </a>
    <a href="https://odoo.taqat.mg/" target="_blank">
      <img src="../media/wattec.png" alt="Wattec">
    </a>
  </div>
</section>


  <!-- Section Produits -->
  <section id="products">
    <div class="product-list">

      <p>Produits</p>
      <hr>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-12314.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-12.8V-314Ah</p>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-24206.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-25.6V-206Ah</p>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48105.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-100Ah</p>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48206.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-206Ah</p>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48314.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-314Ah</p>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48314B.html" hx-target="#product-specs" hx-swap="innerHTML">BBoxB-51.2V-314Ah</p>
      <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-482314.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-628Ah</p>
      <hr>
	<p class="products-product-list-link" role="button" hx-get="fragments/products/high_voltage.html" hx-target="#product-specs" hx-swap="innerHTML">Haute Tension</p>
      <hr>
     <p class="products-product-list-link" role="button" hx-get="fragments/products/testcalibrage.html" hx-target="#product-specs" hx-swap="innerHTML">Test & Calibrage</p>
     <hr>
     </div>
  <div class="product-details" id="product-specs"
       hx-get="/fragments/products/choose_product.html"
       hx-trigger="load" hx-swap="innerHTML">
    <div class="default">
      <h3>Découvrez nos solutions énergétiques ⚡</h3>
      <p>Choisissez un produit dans la liste ou découvrez dès maintenant notre nouveauté phare.</p>
      <button class="btn"
              role="button"
              hx-get="fragments/products/product-detail-482314.html"
              hx-target="#product-specs"
              hx-swap="innerHTML">Offre Exclusive Pour Notre Nouvelle Batterie 32kWh!</button>
    </div>
  </div>

  </section>

  <hr class="separator">

  <!-- Section Tableau comparatif -->
  <section class="compare">
    <h3>Comparatif des batteries</h3>
    <table>
      <thead>
        <tr>
          <th>Caractéristiques</th>
	  <th>BBox-12.8V-314Ah</th>
          <th>BBox-25.6V-206Ah</th>
          <th>BBox-51.2V-100Ah</th>
          <th>BBox-51.2V-206Ah</th>
          <th>BBox-51.2V-314Ah</th>
          <th>BBoxB-51.2V-314Ah</th>
          <th>BBox-51.2V-628Ah</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Énergie Nominale</td>
	  <td>4.02 kWh</td>
          <td>5,274 kWh</td>
          <td>5,12 kWh</td>
          <td>10,547 kWh</td>
          <td>16,077 kWh</td>
          <td>16,077 kWh</td>
          <td>32,154 kWh</td>
        </tr>
        <tr>
          <td>Capacité Nominale</td>
	  <td>314 Ah</td>
          <td>206 Ah</td>
          <td>100 Ah</td>
          <td>206 Ah</td>
          <td>314 Ah</td>
          <td>314 Ah</td>
          <td>628 Ah</td>
        </tr>
        <tr>
          <td>Tension Nominale</td>
	  <td>12.8 V</td>
          <td>25.6 V</td>
          <td>51.2 V</td>
          <td>51.2 V</td>
          <td>51.2 V</td>
          <td>51.2 V</td>
          <td>51.2 V</td>
        </tr>
        <tr>
          <td>Poids</td>
	  <td>25 kg</td>
          <td>50 kg</td>
          <td>54 kg</td>
          <td>80 kg</td>
          <td>122 kg</td>
          <td>124 kg</td>
          <td>245 kg</td>
        </tr>
        <tr>
          <td>Garantie</td>
	  <td>5000 cycles ou 5 ans</td>
          <td>6000 cycles ou 6 ans</td>
          <td>6000 cycles ou 6 ans</td>
          <td>6000 cycles ou 6 ans</td>
          <td>10000 cycles ou 10 ans</td>
          <td>10000 cycles ou 10 ans</td>
          <td>10000 cycles ou 10 ans</td>
        </tr>
      </tbody>
    </table>
  </section>

  <hr>

</body>
</html>
