<section class="hero">
  <div class="container hero-grid">
    <div class="hero-content">
      <h1>BIENVENUE CHEZ BCELL</h1>
      <p>Solutions Énergétiques Durables, Conçues à Madagascar.</p>
      <!-- <a href="#" class="btn btn-primary" hx-get="fragments/contact.html" hx-target="#main-content" hx-swap=>"innerHTML">Demandez un devis</a>-->
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <h2>"Chez BCell, nous nous engageons à fournir des solutions énergétiques durables et innovantes pour répondre à vos besoins professionnels. Nos batteries LiFePO4 sont conçues pour offrir une performance optimale et une longue durée de vie."</h2>
    <div class="benefits-list">
      <div class="benefit-item">
        <h3>🔒 Sécurité élevée</h3>
        <p>Nos modules LiFePO₄ sont conçus pour une sécurité maximale.
Stables, sans risque d’explosion ni d’emballement thermique, ils répondent aux normes CE pour un fonctionnement sûr en toutes conditions.</p>
      </div>
      <div class="benefit-item-long-life">
        <h3>🕒 Longue durée de vie</h3>
        <p>Jusqu’à 6000 cycles garantis avec des performances constantes dans le temps. Moins de maintenance, plus de rentabilité : une solution conçue pour durer.</p>
      </div>
      <div class="benefit-item">
        <h3>🌱 Écologique</h3>
        <p>Sans cobalt ni métaux lourds, nos batteries sont conçues pour limiter leur impact environnemental. Leur longue durée de vie réduit le besoin de remplacement et facilite le recyclage.</p>
      </div>
    </div>
  </div>
</section>

