<section class="hero">
  <div class="container hero-grid">
    <div class="hero-content">
      <h1>NOS PARTENAIRES</h1>
    </div>
  </div>
</section>
<section class="cases">
  <div class="container">
    <div class="cases-list">
      <h3>WATTEC</h3>
      <p>Lot IVL 176N Anosivavaka (près de l'OSTIE) Antananarivo, 101
032 12 623 10 / info@wattec.mg wattec.mg Aussi sur Facebook #wattec</p>
      <br />
      <h3>SQ VISION</h3>
      <p>Agence Antananarivo
Ambohidratrimo RN4 à proximité de Jovena & VITOGAZ 101 Antananarivo
+261 32 05 11 666</p>
      <p>Agence Tular / Fort Dauphin
Angle Rue Du Marché & Bd Gallieni 601 Tuléar
+261 32 05 112 22</p>
      <p>Agence Diego Suarez
Place Foch à côté de l'Hotel de Ville 201 Antsiranana I
+261 32 05 69 222</p>
      <br />
      <h3>ECOBATTS.TECH</h3>
      <p>ANTANANARIVO
034 93 954 82 / contact@ecobatts.tech</p>
    </div>
  </div>
</section>
