<section class="heroproducts">
  <div class="container hero-grid">
    <div class="heroproducts-content">
      <h1>NOS DIFFÉRENTS PRODUITS</h1>
      <h4>Des batteries fiables, dimensionnées pour vos réalités.</h4>
    </div>
  </div>
</section>

<section class="products">
  <div class="container">
    <div class="product-grid">
      <!-- Exemple de produit -->
      <button class="product-card" hx-get="fragments/products/product-detail-24206.html" hx-target="#product-specs" hx-swap="innerHTML">
        <h3>B-Box+ 25,6V 206Ah</h3>
        <p>Capacité : 5,274kWh</p>
        <!--<button class="btn btn-primary" hx-get="fragments/products/product-detail-24206.html" hx-target="#product-specs" hx-swap="innerHTML">Voir détail</button>-->
      </button>
      <button class="product-card" hx-get="fragments/products/product-detail-48105.html" hx-target="#product-specs" hx-swap="innerHTML">
        <h3>B-Box+ 51,2V 105Ah</h3>
        <p>Capacité : 5,376kWh</p>
      </button>
      <button class="product-card" hx-get="fragments/products/product-detail-48206.html" hx-target="#product-specs" hx-swap="innerHTML">
        <h3>B-Box+ 51,2V 206Ah</h3>
        <p>Capacité : 10,547kWh</p>
      </button>
      <button class="product-card" hx-get="fragments/products/product-detail-48314.html" hx-target="#product-specs" hx-swap="innerHTML">
        <h3>B-Box+ 51,2V 314Ah</h3>
        <p>Capacité : 16,077kWh</p>
      </button>
      <button class="product-card" hx-get="fragments/products/product-detail-482314.html" hx-target="#product-specs" hx-swap="innerHTML">
        <h3>B-Box+ 51,2V 314Ah*2</h3>
        <p>Capacité : 32,154kWh</p>
      </button>
    </div>
  </div>
  </section>
<section>
  <div class="product-container" id="product-specs" hx-get="fragments/products/product-detail-24206.html" hx-trigger="load" hx-swap="innerHTML">
  </div>
</section>
