<!-- HERO SECTION EN HAUT -->
<section class="heroabout">
  <div class="container hero-grid">
    <div class="heroabout-content">
      <h1>POURQUOI NOUS CHOISIR ?</h1>
      <h4>Nos Valeurs, Nos Atouts et Notre Équipe</h4>
    </div>
  </div>
</section>

<!-- CONTENU PRINCIPAL EN DESSOUS DU HERO -->
<main class="contenu-sections">
  <section id="valeurs">
    <h2><span class="mot-clef">Nos</span> Valeurs</h2>
    <div class="valeurs-container">
      <div class="valeur">
        <h4 class="valeur-title">Fiabilité</h4>
        <p>Nous garantissons la fiabilité de nos produits, de notre équipe et de nos engagements. Une performance constante et une organisation rigoureuse assurent votre satisfaction et un partenariat solide.</p>
      </div>
      <div class="valeur">
        <h4>Amélioration Proactive</h4>
        <p>Nous croyons en l'écoute active et l'adaptation continue. En intégrant vos retours, nous anticipons vos besoins et améliorons constamment nos solutions pour rester à la pointe de l'innovation.</p>
      </div>
      <div class="valeur">
        <h4>Éco-reponsabilité</h4>
        <p>Nous nous engageons à réduire notre empreinte écologique en produisant des batteries durables et en adoptant des pratiques respectueuses de l'environnement pour un avenir plus vert.</p>
      </div>
    </div>
  </section>

  <section id="atouts" class="section-bleue">
    <h2><span class="mot-clef">Nos</span> Atouts</h2>
    <div class="atout">
      <h4>Expertise et Garantie Locale</h4>
      <p>Nos batteries sont assemblées à Madagascar par une équipe formée et engagée. Ce savoir-faire local nous permet d’assurer un haut niveau de qualité tout en participant activement au développement industriel du pays. De plus, notre garantie malgache vous assure d'un service après-vente rapide et efficace.</p>
    </div>
    <div class="atout">
      <h4>Support Client Dédié</h4>
      <p>Notre engagement ne s’arrête pas à la vente. Nous restons disponibles après l’installation pour assurer le bon fonctionnement de nos batteries, répondre aux questions techniques et intervenir rapidement en cas de besoin.</p>
    </div>
    <div class="atout">
      <h4>Fiabilité des composants</h4>
      <p>Nous sélectionnons des cellules LiFePO₄ de haute qualité auprès de fournisseurs certifiés. Cette exigence garantit à nos batteries une longue durée de vie, une stabilité thermique et une performance constante.</p>
    </div>
  </section>

  <section id="equipe">
    <h2><span class="mot-clef">Notre</span> équipe</h2>
    <div class="equipe-container">
      <div class="membre">
        <div class="photo"></div>
        <p>Felix Bonaert<p>
        <p>Produit & Technologie</p>
      </div>
      <div class="membre">
        <div class="photo"></div>
        <p>Maxime De Plaen</p>
        <p>Stratégie & Développement</p>
      </div>
      <div class="membre">
        <div class="photo"></div>
        <p>Christophe Bonaert</p>
        <p>R & D - Mentor</p>
      </div>
        <div class="membre">
          <div class="photo"></div>
          <p>Judith Rabemanana</p>
          <p>Logistique</p>
        </div>
    </div>
  </section>
</main>

