<section class="hero">
  <div class="container hero-grid">
    <div class="hero-content">
      <h1>WELCOME TO BCELL</h1>
      <h4>Sustainable Energy Solutions, Designed in Madagascar.</h4>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <h4>"At BCell, we specialize in the local assembly of LiFePO₄ batteries in Madagascar, using high-quality cells to deliver stable, secure, and long-lasting energy solutions—even in the most demanding environments."</h4>
  </div>
  <div class="container-large">
    <div class="benefits-list">
      <div class="benefit-item">
        <div class="benefit-item-container">
          <span class="benefit-item-container-img"></span>
          <h3 class="benefit-h3">Our Offer</h3>
        </div>
        <p>We provide robust and modular LiFePO₄ batteries, assembled in Madagascar and designed to meet local demands. Thanks to our expertise and the quality of our components, our solutions ensure performance, safety, and longevity tailored to your energy needs.</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-h3">Your Benefit</h3>
        <p>A locally designed solution for Madagascar, ensuring better management of power outages, quick maintenance due to proximity, and responsive technical support for your daily peace of mind.</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-h3">Our Partnership</h3>
        <p>More than just a supplier, we are a committed partner by your side. We value proximity, transparency, and active listening to build a lasting relationship based on trust and mutual success—from design to maintenance.</p>
      </div>
    </div>
  </div>
</section>
<section class="processus">
  <div class="container">
    <h2><span class="processus-title">How</span> it works?</h2>
    <div class="processus-timeline">
      <div class="processus-step top">
        <div class="processus-icon">
          <img src="../media/icon-etape1.svg" alt="Step 1" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Cell Ordering</strong> High-quality cells carefully selected by our partners.</div>
      </div>
      <div class="processus-arrow">
        <img src="../media/arrow-right.svg" alt="Right Arrow" loading="lazy" class="arrow-right">
      </div>
      <div class="processus-step bottom">
        <div class="processus-icon">
          <img src="../media/icon-etape2.svg" alt="Step 2" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Assembly</strong> Precise module assembly to ensure robustness and safety.</div>
      </div>
      <div class="processus-arrow">
        <img src="../media/arrow-right.svg" alt="Right Arrow" loading="lazy" class="arrow-right">
      </div>
      <div class="processus-step top">
        <div class="processus-icon">
          <img src="../media/icon-etape3.svg" alt="Step 3" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Calibration</strong> Adjustment and testing to optimize performance and lifespan.</div>
      </div>
      <div class="processus-arrow">
        <img src="../media/arrow-right.svg" alt="Right Arrow" loading="lazy" class="arrow-right">
      </div>
      <div class="processus-step bottom">
        <div class="processus-icon">
          <img src="../media/icon-etape4.svg" alt="Step 4" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Sales & Support</strong> Personalized support and assistance after installation.</div>
      </div>
    </div>
  </div>
</section>

