<section class="hero">
  <div class="container hero-grid">
    <div class="hero-content">
      <h1>BIENVENUE CHEZ BCELL</h1>
      <h4>Solutions Énergétiques Durables, Conçues à Madagascar.</h4>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <h4>"Chez BCell, nous maîtrisons l’assemblage local de batteries LiFePO₄ à Madagascar en intégrant des cellules de qualité supérieure, pour offrir des solutions énergétiques stables, sécurisées et conçues pour durer, même dans les environnements les plus exigeants."</h3>
  </div>
  <div class="container-large" >
    <div class="benefits-list">
      <div class="benefit-item">
        <div class="benefit-item-container">
          <span class="benefit-item-container-img"></span>
          <h3 class="benefit-h3">Notre Proposition</h3>
        </div>
        <p>Nous proposons des batteries LiFePO₄ assemblées à Madagascar, robustes et modulables, spécialement conçues pour répondre aux exigences locales. Grâce à notre expertise et à la qualité des composants, nos solutions garantissent performance, sécurité et longévité adaptées à vos besoins énergétiques.</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-h3">Votre Bénéfice</h3>
        <p>Une solution locale pensée pour Madagascar, qui assure une meilleure gestion des coupures, une maintenance rapide grâce à la proximité, et un support technique réactif pour votre sérénité au quotidien.</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-h3">Notre Collaboration</h3>
        <p>Plus qu’un fournisseur, un partenaire engagé à vos côtés. Nous valorisons la proximité, la transparence et l’écoute, pour construire avec vous une relation durable basée sur la confiance et la réussite commune, de la conception à la maintenance.</p>
      </div>
    </div>
  </div>
</section>

<section class="processus">
  <div class="container">
    <h2><span class="processus-title">Comment</span> ça marche ?</h2>
    <div class="processus-timeline">
      <div class="processus-step top">
        <div class="processus-icon">
          <img src="../media/icon-etape1.svg" alt="Étape 1" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Commande Cellules</strong> Cellules de haute qualité sélectionnées avec soin par nos partenaires.</div>
      </div>
      <div class="processus-arrow" >
        <img src="../media/arrow-right.svg" alt="Flèche droite" loading="lazy" class="arrow-right">
      </div>
      <div class="processus-step bottom">
        <div class="processus-icon">
          <img src="../media/icon-etape2.svg" alt="Étape 2" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Montage</strong> Assemblage précis des modules pour garantir robustesse et sécurité.</div>
      </div>
      <div class="processus-arrow">
        <img src="../media/arrow-right.svg" alt="Flèche droite" loading="lazy" class="arrow-right">
      </div>
      <div class="processus-step top">
        <div class="processus-icon">
          <img src="../media/icon-etape3.svg" alt="Étape 3" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Calibrage</strong> Ajustement et tests pour optimiser performance et durée de vie.</div>
      </div>
      <div class="processus-arrow">
        <img src="../media/arrow-right.svg" alt="Flèche droite" loading="lazy" class="arrow-right">
      </div>
      <div class="processus-step bottom">
        <div class="processus-icon">
          <img src="../media/icon-etape4.svg" alt="Étape 4" loading="lazy">
        </div>
        <div class="processus-bubble"><strong>Vente et suivi</strong> Accompagnement personnalisé et assistance après installation.</div>
      </div>
    </div>
  </div>
</section>



