<section class="heroproducts">
  <div class="container hero-grid">
    <div class="heroproducts-content">
      <h1>OUR PRODUCTS</h1>
      <h4>Reliable batteries, designed for your needs.</h4>
    </div>
  </div>
</section>
<!-- Hero Section -->
<!-- "Discover our new range" Section -->
<section id="showing">
  <div class="showing-text">
    <ul class="keywords">
      <li>Reliable</li>
      <li>Powerful</li>
      <li>Durable</li>
      <li>Innovative</li>
    </ul>
    <h2>Discover our new range of batteries</h2>
    <p>
      Our lithium batteries combine performance, reliability, and long lifespan.
      Compact and secure, they adapt to many applications,
      from domestic to industrial, while delivering optimal efficiency.
    </p>
    <div class="buttons">
      <a href="#products" class="btn">Our products</a>
      <a hx-get="fragments/contact.html" hx-target="#main-content" hx-swap="innerHTML" class="btn">Contact us</a>
    </div>
  </div>
  <div class="showing-image">
    <img src="../media/nosproduits.png" alt="Battery">
  </div>
</section>
<!-- "They trust us" Section -->
<section class="trusted">
  <div class="trusted-left">
    <h3>They trust us</h3>
  </div>
  <div class="trusted-right">
    <a href="https://ecobatts.tech" target="_blank">
      <img src="../media/ecobatts.png" alt="Ecobatts">
    </a>
    <a href="https://oceantrade.mg/" target="_blank">
      <img src="../media/oceantrade.png" alt="Ocean Trade">
    </a>
    <a href="https://www.sqvision.mg/en_GB" target="_blank">
      <img src="../media/sqvision.png" alt="SQ Vision">
    </a>
    <a href="https://odoo.taqat.mg/" target="_blank">
      <img src="../media/wattec.png" alt="Wattec">
    </a>
  </div>
</section>
<!-- Products Section -->
<section id="products">
  <div class="product-list">
    <p>Products</p>
    <hr>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-12314.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-12.8V-314Ah</p>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-24206.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-25.6V-206Ah</p>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48105.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-100Ah</p>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48206.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-206Ah</p>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48314.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-314Ah</p>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-48314B.html" hx-target="#product-specs" hx-swap="innerHTML">BBoxB-51.2V-314Ah</p>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/product-detail-482314.html" hx-target="#product-specs" hx-swap="innerHTML">BBox-51.2V-628Ah</p>
    <hr>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/high_voltage.html" hx-target="#product-specs" hx-swap="innerHTML">High Voltage</p>
    <hr>
    <p class="products-product-list-link" role="button" hx-get="fragments/products/testcalibrage.html" hx-target="#product-specs" hx-swap="innerHTML">Testing & Calibration</p>
    <hr>
  </div>
  <div class="product-details" id="product-specs"
       hx-get="/fragments/products/choose_product.html"
       hx-trigger="load" hx-swap="innerHTML">
    <div class="default">
      <h3>Discover our energy solutions ⚡</h3>
      <p>Choose a product from the list or explore our new flagship offer now.</p>
      <button class="btn"
              role="button"
              hx-get="fragments/products/product-detail-482314.html"
              hx-target="#product-specs"
              hx-swap="innerHTML">Exclusive Offer For Our New 32kWh Battery!</button>
    </div>
  </div>
</section>
<hr class="separator">
<!-- Comparison Table Section -->
<section class="compare">
  <h3>Battery Comparison</h3>
  <table>
    <thead>
      <tr>
        <th>Features</th>
        <th>BBox-12.8V-314Ah</th>
        <th>BBox-25.6V-206Ah</th>
        <th>BBox-51.2V-100Ah</th>
        <th>BBox-51.2V-206Ah</th>
        <th>BBox-51.2V-314Ah</th>
        <th>BBoxB-51.2V-314Ah</th>
        <th>BBox-51.2V-628Ah</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nominal Energy</td>
        <td>4.02 kWh</td>
        <td>5.274 kWh</td>
        <td>5.12 kWh</td>
        <td>10.547 kWh</td>
        <td>16.077 kWh</td>
        <td>16.077 kWh</td>
        <td>32.154 kWh</td>
      </tr>
      <tr>
        <td>Nominal Capacity</td>
        <td>314 Ah</td>
        <td>206 Ah</td>
        <td>100 Ah</td>
        <td>206 Ah</td>
        <td>314 Ah</td>
        <td>314 Ah</td>
        <td>628 Ah</td>
      </tr>
      <tr>
        <td>Nominal Voltage</td>
        <td>12.8 V</td>
        <td>25.6 V</td>
        <td>51.2 V</td>
        <td>51.2 V</td>
        <td>51.2 V</td>
        <td>51.2 V</td>
        <td>51.2 V</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>25 kg</td>
        <td>50 kg</td>
        <td>54 kg</td>
        <td>80 kg</td>
        <td>122 kg</td>
        <td>124 kg</td>
        <td>245 kg</td>
      </tr>
      <tr>
        <td>Warranty</td>
        <td>5000 cycles or 5 years</td>
        <td>6000 cycles or 6 years</td>
        <td>6000 cycles or 6 years</td>
        <td>6000 cycles or 6 years</td>
        <td>10000 cycles or 10 years</td>
        <td>10000 cycles or 10 years</td>
        <td>10000 cycles or 10 years</td>
      </tr>
    </tbody>
  </table>
</section>
<hr>

